<!DOCTYPE html>
<html>       
# include "admin.html"
<head>
  <title>Subversion: Path-based Authorization</title>
</head>
<body>
  <h2>Subversion: Path-based Authorization</h2>
  <form id="saveauthzfile" method="post" action="">
    <div class="field">
      <textarea rows="20" cols="20" class="trac-fullwidth"
                title="Authz file content" name="current">${auth_data}</textarea>
    </div>
    <div class="buttons">
      <input type="submit" name="saveauthzfile" value=" Apply changes "/>
      <input type="reset" value=" Reset "/>
    </div>
  </form>
  <div id="help" i18n:msg="">
    <strong>Note:</strong> See the
    <a href="http://svnbook.red-bean.com/nightly/en/svn.serverconfig.pathbasedauthz.html">SVN Book</a>
    for information about path-based authorization.
  </div>
</body>
</html>
